body{
    background-color: rgb(214, 235, 255);
    text-align: center;
}
.flex{
    height: fit-content;
    margin: auto;
    background-color: rgb(197, 197, 197);
    width: 80vw;
    padding: 2vmin;
    margin-bottom: 2vmin;
}
h3{
    font-size: 2.5vmin;
}
h2{
    font-size: 3vmin;
}
#flexContainer{
    animation: pulse 2.5s infinite;
}
#flexCenter{
    justify-content: center;
}
#flexLeft{
    justify-content: flex-start;
}
#flexRight{
    justify-content: flex-end;
}
#around{
    justify-content: space-around;
}
#between{
    justify-content: space-between;
}
.box{
    background-color: rgb(173, 217, 255);
    height: 6vmin;
    width: 10%;
    display: flex;
    font-size: 5vmin;
    justify-content: center;
    margin: 2%;
}
.center{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}


@keyframes pulse{
    0%{
      transform: scale(.9);

    }
    50%{
        transform: scale(1);
    }
    100%{
      transform: scale(.9);
    }
}

.centerex {
    width: 70%;
    border: 2px solid #000;
    margin: auto;
    display: flex;
}

.ex{
    background-color: rgb(173, 217, 255);
    flex: 1;
    height: 6vmin;
    transition: flex .25s, background-color .5s;
    border: rgb(183, 136, 226) 1px dashed;
    font-size: 5vmin;
}
.ex:hover{
    background-color: rgb(129, 201, 201);
    flex: 2;
}
